html,
body
  font-family "Open Sans", sans-serif

body
  margin-top 50px
  margin-bottom 70px
  background none

.full
  background url("../../images/main-bg.jpeg") no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

h1
  font-size 64px
  font-weight 100
  margin-bottom 20px

h2
  color #000000
  font-size 2.3em
  font-weight 300
  line-height 1.25
  margin 1em 0

h3
  color #555
  margin-bottom 10px
  font-weight 300
  font-size 1.2em

p
  font-size 13px
  font-weight 200
  text-align justify
  margin-top 10px

a
  font-size 18px
  font-weight 200

h1.main
  width 100vh
  color #fff
  font-size 40px
  text-transform uppercase

h1.overlay
  width 100vh
  padding 7px
  background-color #000000
  opacity 0.9

p.second
  width 100vh
  color #000000
  background-color #ffffff
  padding-left 15px
  opacity 0.9
  font-size 26px
  font-weight 200
  margin-bottom 40px

@media (min-width: 1024px)
  h1.main
    width 100vh
    color #fff
    font-size 90px
    text-transform uppercase

  h1.overlay
    width 100vh
    padding 10px
    background-color #000000
    opacity 0.9

ul.nav.navbar-nav a
  font-size 13px
  padding 15px 10px 5px 10px
  text-transform uppercase

.navbar-brand
  text-transform uppercase
  padding 15px

.fa
  padding-left 10px

.center-icon
  text-align center

.btn-about
  font-size: 13px

.btn-about:hover
  color #fff

.modal-dialog
  padding-top 100px
  width 450px

.modal-content
  border-radius 0px
  box-shadow none
  border none

.modal-title
  color #666
  font-size 18px
  font-weight bold

.modal-text
  line-height 28px
  font-size 13px
  color #555
  padding 10px 5px
  padding-right 10px

.close
  -webkit-transition all .5s
  -moz-transition all .5s
  transition all .5s

.modal-close
  font-size 30px
  line-height 0

.btn-social,
.btn-social:focus
  background #f0f0f0
  padding 10px 12px
  border-radius 2px
  color #888
  margin-right 5px
  font-size 13px
  font-weight 500

.linkedin:hover
  background #1985BC
  color #fff

.twitter:hover
  background #55ACEE
  color #fff

.github:hover
  background #444
  color #fff

@media (max-width: 500px)
  img.col-md-6
    padding 50px
    width 100%
